apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_url": "api.opsgenie.com",
      "api_key": "y0ur-t0k3n"
    }
